@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .icon-18 {
        font-size: 18px;
    }
    .icon-24 {
        font-size: 24px;
    }
    .icon-30 {
        font-size: 30px;
    }
    .icon-40 {
        font-size: 40px;
    }

    .icon-50 {
        font-size: 50px;
    }
    .p-56per {
        padding-bottom: 56.25%;
    }
}